.menu {
  position: absolute;
  top: 20px;
  right: 10%;
  font-weight: bold;
  display: flex;
}

.menu a {
  text-decoration: none;
}

.social {
  margin-right: 14px;
  display: flex;
  align-items: center;
}

.menu-item {
  color: #2250f4;
  background-color: transparent;
  border: 2px solid #2250f4;
  padding: 8px 15px;
  height: 38px;
  border-radius: 20px;
  margin-right: 14px;
}

.menu-item:hover {
  color: #ffffff;
  background-color: #2250f4;
}

@media (max-width: 615px) {
  .menu {
    font-size: 16px;
  }
}
