.modal-container {
  position: absolute;
  bottom: 18px;
  background-color: #ffffff;
  padding: 10px;
  width: 700px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  animation: fadeInOut 1.5s;
}

/* Animation Slide */
@keyframes fadeInOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header button {
  border: 0;
  background-color: transparent;
}

.modal-container span {
  margin: 14px 0;
  color: #a7a7a7;
}

.modal-link {
  background-color: #172742;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  height: 38px;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
}

@media (max-width: 735px) {
  .modal-container {
    width: 90%;
  }
}
